@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  overflow: hidden;
}

@media (max-width: 1023.98px) {
  br {
    display: none;
  }
}


/* Tailwind CSS customization */
@layer components {
  .btn {
    @apply bg-bgBtnColor px-6 py-3 mx-auto rounded-xl rounded-tl-none font-bold text-textColor1 flex items-center shadow-md hover:shadow-lg hover:bg-yellow-300 transition lg:mx-0;
    font-size: 0.875rem;
  }

  .btnOutlined {
    @apply bg-transparent border-2 border-gray-400 px-4 py-2;
  }

  .btn svg {
    stroke-width: 2.5px;
  }

  .chip {
    @apply uppercase font-extrabold text-textColor3 bg-bgColor inline-block py-1 px-3.5 rounded-full;
    font-size: 12px;
  }

  .vidBtn {
    @apply bg-textColor1 text-white border-white w-11 h-11 rounded-full grid place-items-center text-center shadow-md;
    border-width: 5px;
  }

  .navlinks {
    @apply text-gray-500 hover:text-textColor1;
    font-size: 0.94rem;
    font-weight: 600;
  }

  .navlinks.active {
    @apply text-textColor1 border-b-2 border-textColor1;
  }

  .footlinks {
    @apply flex flex-col gap-2.5 text-sm mt-3;
  }

  .footlinks a {
    @apply hover:text-teal-700 transition;
  }
}


/* Swiper */
.swiper, swiper-container {
  padding-bottom: 5rem !important;
  max-width: 750px;
  width: 100%;
  margin-top: 6rem;
}

.swiper-pagination-bullet {
  background: #f59e0b !important;
  transition: all 0.2s ease !important;
}


/* Sidebar */
.sidebar.show {
  opacity: 1;
}

.sidebar_content {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
}

.sidebar.show .sidebar_content {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sidebar_btn {
  width: 1.8rem;
  height: 1.3rem;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.sidebar_btn span {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

.sidebar.show + .sidebar_btn {
  justify-content: center;
}

.sidebar.show + .sidebar_btn span {
  margin-top: -1.2px;
  margin-bottom: -1.2px;
}

.sidebar.show + .sidebar_btn span:first-child {
  transform: rotate(45deg);
}

.sidebar.show + .sidebar_btn span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

.sidebar.show + .sidebar_btn span:last-child {
  transform: rotate(-45deg);
}
